@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header,
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

header {
  height: 150px;
  text-align: center;
}

.title {
  font-size: 2.7em;
}

.description {
  font-size: 1.2em;
}

.tooltip-container {
  position: absolute;
  display: none;
  width: 200px;
  background-color: transparent;
}

.tooltip-pointer {
  position: absolute;
  left: 4px;
  bottom: 4px;
  z-index: 1;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  background-color: #c9c9c9;
}

.tooltip {
  position: relative;
  z-index: 2;
  display: block;
  padding: 8px;
  margin-bottom: 14px;
  font-size: .9em;
  background-color: #c9c9c9;
}

.tooltip-container.active {
  display: block;
  transform: translateY(-100%);
}

.tooltip > span {
  display: block;
}

main {
  width: 100%;
  overflow-x: scroll;
}

.svg-container {
  width: max-content;
  margin: auto;
}

.legend-rect,
.tile {
  opacity: .8;
}

.tile-label {
  transform: translateY(1em);
  font-size: .8em;
}

.legend {
  display: block;
  margin: auto;
}

.legend-text {
  transform: translate(1.2em, .8em);
}
